@font-face {
  font-family: Calibre-Bold;
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/39132/CalibreWeb-Bold.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/39132/CalibreWeb-Bold.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/39132/CalibreWeb-Bold.woff") format("woff");
}