#test {
	padding: 180px 0 (180px + 120);
	width: 100%;
	bottom: 0; left: 0; right: 0;
	box-sizing: border-box;
	z-index: 1;
	background: $color-primary-black;
	position: relative;
	hr {
		position: absolute;
		bottom: 0; left: 0; right: 0;
	}
	svg.ui-shape-2 {
		position: absolute;
		top: 0;
		right: 0;
		width: 15%;
		transform: translate(0, -100%);
		transform-origin: 100% 0;
		fill: $color-primary-black;
		display: none;
	}
	h4 {
		font: normal 1em/1 'Calibre-Semibold', sans-serif;
		text-transform: uppercase;
		margin-bottom: 20px;
		color: $color-light-gray;
	}
	$button-width: 190px;
	$outer-padding: 0;
	.test-inputs {
		position: relative;
		input {
			height: 90px;
			line-height: 0;
			padding: 15px;
			font-size: 2em;
			border: none;
			box-sizing: border-box;
			border-radius: 2px;
			display: block;
			float: left;
			outline: none;
			&[type='text'] {
				width: calc(100% - 190px - 5px);
			}
			&#enter {
				background: $color-light-gray;
				color: black;
				padding: 15px 30px;
				margin-left: 5px;
				border: none;
				border: 1px solid $color-light-gray;
				border: 1px solid $color-light-gray;
				box-sizing: border-box;
				font-family: 'Calibre-Semibold';
				text-transform: uppercase;
				cursor: pointer;
				width: $button-width;
				&:hover {
					background: $color-primary-green;
					border: 1px solid $color-primary-green;
				}
				&:active {
					background: rgba($color-primary-green, 0.8);
					border: 1px solid rgba($color-primary-green, 0.8);
				}
				&.disabled {
					background-color: $color-secondary-black;
					border-color: $color-primary-black;
					color: $color-dark-gray;
					cursor: not-allowed;
				}
			}
		}
	}
	.test-options {
		position: relative;
		color: white;
		z-index: 4;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		.test-option-control {
			position: relative;
			box-sizing: border-box;
			padding: 15px 0;
			width: 33.33%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			align-content: space-between;
			&:not(:first-of-type) {
				margin-left: 30px;
				padding-left: 30px;
				&:before {
					content: '';
					position: absolute;
					left: 0; top: 0;
					bottom: 0;
					width: 2px;
					background: $color-secondary-black;
					transform: skew(-28deg);
				}
			}
		}

		.test-option-control:nth-of-type(2) {
			justify-content: flex-end;
		}
		//- Range Slider
		$range-handle-color: $color-light-gray !default;
		$range-handle-color-hover: $color-primary-green !default;
		$range-handle-width: 60px !default;
		$range-handle-height: 20px !default;
		$range-track-color: black !default;
		$range-track-height: 4px !default;

		input[type=range] {
			display: inline-block;
			width: 100%;
			height: $range-track-height;
			border-radius: 5px;
			background: $range-track-color;
			box-shadow: 0 1px 1px rgba(white, 0.1);
			appearance: none;
			outline: none;
			padding: 0;
			margin: 0;
			cursor: ew-resize;
			position: relative;
			top: 50%;
			transform: translate(0,-50%);
			z-index: 1;

			//- Range Handle
			&::-webkit-slider-thumb {
				appearance: none;
				width: $range-handle-width;
				height: $range-handle-height;
				border-radius: 2px;
				background: $range-handle-color url('src/img/bg-slider-handle.png') 50% 50%/contain no-repeat;
				cursor: ew-resize;
				transition: background .15s ease-in-out;
				&:hover {
					background-color: lighten($color-light-gray, 5%);
				}
			}

			&:active::-webkit-slider-thumb {
				background-color: $range-handle-color-hover;
			}

			&::-moz-range-thumb {
				width: $range-handle-width;
				height: $range-handle-height;
				border: 0;
				border-radius: 2px;
				background: $range-handle-color;
				cursor: ew-resize;
				transition: background .15s ease-in-out;
				&:hover {
					background-color: $range-handle-color-hover;
				}
			}
			&:active::-moz-range-thumb {
				background-color: $range-handle-color-hover;
			}

			// Firefox Overrides
			::-moz-range-track {
				background-color: $range-track-color;
				border: 0;
			}

			input::-moz-focus-inner,
			input::-moz-focus-outer {
				border: 0;
			}
		}
		input[type=range]:active + span:not(#font-color-val) {
			opacity: 1;
		}
		label {
			font: normal 1em/1 'Calibre-Semibold', sans-serif;
			color: $color-light-gray;
			white-space: nowrap;
			margin: 0 auto;
			padding: 0;
			display: block;
			width: 80%;
			position: relative;
			&:not(:first-of-type) {
				margin-left: 1em;
			}
			i.icon {
				position: absolute;
				top: 50%;
				font: bold 1em 'Calibre-Bold', sans-serif;
				text-transform: uppercase;
				width: 10%;
				text-align: center;
				&:nth-of-type(1) {
					font-size: 1em;
					transform: translate(-100%, -50%);
					left: 0;
				}
				&:nth-of-type(2) {
					font-size: 2em;
					transform: translate(100%, -50%);
					right: 0;
				}
			}
			#font-color {
				position: absolute;
				top: 50%;
				left: 50px;
				transform: translate(0, -50%);
			}
			#font-color-val {
				height: auto;
				line-height: 0;
				position: relative;
				top: 50%;
				transform: translate(0, -50%);
			}

			span:not(#font-color-val) {
				display: inline-block;
				background: $color-primary-green;
				color: white;
				text-shadow: 0 1px 0px rgba(black, 0.3);
				padding: 0 0.5em;
				border-radius: 2px;
				position: absolute;
				top: -200%;
				margin-top: 3px;
				width: 60px;
				height: 30px;
				line-height: 30px;
				box-sizing: border-box;
				text-align: center;
				opacity: 0;
				transform: translate(-50%, -50%);
				z-index: 1;
				&:before {
					content: '';
					position: absolute;
					border-width: 10px;
					width: 0; height: 0;
					border-style: solid;
					border-color: $color-primary-green transparent transparent transparent;
					left: 50%;
					top: 100%;
					transform: translate(-50%, 0);
				}
			}
		}
		label[for='font-width'] {
			margin: 0;
			float: right;
			.icon:nth-of-type(1) {
				position: absolute;
				top: 50%;
				width: 20%;
				left: -10px;
				transform: translate(-100%, -50%);
				transform-origin: 100% 50%;
				svg {
					fill: $color-light-gray;
					width: 100%;
					top: 50%;
					left: 0;
					position: absolute;
					transform: translate(0, -50%);
				}
			}
		}
		input[type='color'] {
			margin: 0;
			padding: 0;
			background: $range-track-color;
			-webkit-appearance: none;
			display: inline-block;
			border: none;
			width: 30px;
			height: 30px;
			border-radius: 100%;
			overflow: hidden;
			position: relative;
			outline: none;
			cursor: pointer;
			&::-webkit-color-swatch {
				border: none;
				position: absolute;
				top: 0; right: 0; bottom: 0; left: 0;
			}
		}

	}
	.test-area {
		overflow: hidden;
		position: relative;
		min-height: 180px;
		background: black;
		z-index: 1;
		img {
			position: relative;
			z-index: 2;
		}
		.test-buffer {
			position: relative;
			box-sizing: border-box;
			padding: 30px 0 90px 30px;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			background: white url($fp + 'bg-pattern-canvas.png') fixed;
			border-radius: 2px;
			opacity: 0.05;
			z-index: -1;
		}
		.test-target {
			font-size: inherit;
			line-height: 0.8;
		}
		canvas {
			position: relative;
			top: 0; left: 0; right: 0; bottom: 0;
			display: none;
			z-index: 1;
		}
	}
	#download {
		outline: none;
		width: $button-width - $outer-padding;
		height: 60px;
		display: inline-block;
		background: $color-primary-black;
		border: none;
		cursor: pointer;
		padding: 0;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 4;
		span {
			font-size: 1.5em;
			position: absolute;
			top: 50%;
			left: 10%;
			padding-left: 1.25em;
			transform: translate(0, -45%);
			color: white;
			transition: color 0.15s linear;
		}
		svg.icon-download {
			fill: white;
			width: auto;
			height: 100%;
			position: absolute;
			left: 0; bottom: 0;
			display: block;
			transform: translate(0, 5px);
			transition: fill 0.15s linear;
		}
		svg.ui-shape-1 {
			position: absolute;
			bottom: 0; left: 0;
			width: auto;
			height: 100%;
			fill: $color-primary-black;
			transform: translate(-100%, 0);
		}
		&:hover span {
			color: $color-primary-green;
		}
		&:hover svg.icon-download {
			fill: $color-primary-green;
		}
	}
}

.test-buffer {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 0; right: 0; bottom: -20px;
		width: 1px;
		background: $color-primary-orange;
		opacity: 0;
		transition: opacity 0.15s linear;
	}
	&.active:after {
		opacity: 1;
	}
}

#alphabet {
	padding: 0;
	background: rgba($color-primary-black, 1);
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	width: 50%;
	> div {
		text-align: center;
		width: 19.8%;
		margin: 0.1%;
		background: rgba($color-secondary-black, 1);
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		.da-title {
			font-size: 3vw;
			color: $color-light-gray;
		}
	}
}