//- Slide Options
// ---------------------------------
$scale 					: 1;
$screen-width 			: 100% * $scale;
$screen-height 			: 100vh * $scale;
$root-font-size 		: 2em * $scale;
$ease-in-out			: cubic-bezier(0.80, 0.00, 0.20, 1.00);
$ease-out				: cubic-bezier(0.20, 0.70, 0.20, 1.00);

#slider {
	background: $color-primary-black;
	position: absolute;
	top: 0; left: 0;
	width: $screen-width;
	height: $screen-height;
	font-size: $root-font-size;
}

#slider .counter {
	position: absolute;
	top: -50%;
	left: 0;
	right: 0;
	text-align: center;
	width: 100%;
	transform: translate(0, -100%);
	font-size: 0.6em;
	color: white;
	height: 100%;
	> span:not(.counter-index) {
		width: 50%;
		float: left;
		display: inline-block;
		text-align: center;
		right: 0.3em;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		&:last-of-type:before {
			content: '';
			border-left: 1px solid white;
			display: inline-block;
			height: 1.15em;
			width: 1px;
			transform: skew(-28deg);
			position: absolute;
			top: 0;
			left: 0.4em;
		}
	}
	.counter-index {
		color: white;
		font-family: 'Calibre-Regular';
		font-size: 1em;
		position: absolute;
		top: 50%;
		transform: translate(-0.65em, -50%);
		width: 50%;
		text-align: right;
		left: 0;
	}
}

#slider #controls {
	position: absolute;
	bottom: 1em;
	left: 1em;
	width: 3em;
	height: 1em;
	display: flex;
	flex-direction: row;
	z-index: 1337;
}

#slider .control {
	width: 50%;
	height: 100%;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	background: none;
	position: relative;
	outline: none;
	svg {
		fill: white;
		width: auto;
		height: 100%;
	}
	&.next svg { transform: scale(-1, 1); }
	&:hover svg {
		fill: $color-primary-green;
	}
	svg, use {
		pointer-events: none;
	}
}

#slider .mask {
	height: $screen-height;
	position: absolute;
	top: 0;
	bottom: 0;
	&[data-main] {
		right: 0; left: 0;
		overflow: hidden;
	}
	&[data-gallery] {
		background: black;
		overflow: hidden;
		width: auto; height: auto;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: 0;
	}
	&[data-captions] {
		right: 30%;
		left: 0;
		z-index: 1;
		transform: skew(-28deg);
		overflow: hidden;
	}
}

#slider #captions {
	height: inherit;
	position: relative;
	transform: skew(28deg);
	> figcaption {
		position: absolute;
		width: 70%;
		height: 100%;
		top: 50%; left: 140px;
		transform: translate3d(0, -50%, 0);
		.text {
			position: relative;
			width: 100%;
			position: absolute;
			top: 45%; left: 0;
			transform: translate3d(0, -50%, 0);
			.title {
				color: white;
				font-size: 8vmax;
				margin: 0 0 3%;
			}
			p {
				font-size: 2vmax;
				line-height: 1;
				max-width: 60%;
			}
		}
		.credit {
			font: normal 0.6em/1 'Calibre-Semibold';
			color: white;
			display: block;
			position: absolute;
			bottom: 30px;
			white-space: nowrap;
			span {
				position: relative;
				display: block;
				&:first-of-type {
					font-family: 'Calibre-Regular';
					margin: 0 0 0.05em;
					position: relative;
					top: -0.05em;
				}
			}
		}
		&.prev {
			.text {
				opacity: 0;
				transform: translate3d(-150%, -50%, 0);
				transition:
					transform 0.6s $ease-in-out 0.15s,
					opacity 0.6s linear 0.3s;
			}
			.credit span {
				opacity: 0;
				transition:
					opacity 0.6s linear 0s;
			}
		}
		&.current {
			.text {
				opacity: 1;
				transform: translate3d(0, -50%, 0);
				transition:
					transform 0.6s $ease-in-out 0.45s,
					opacity 0.3s linear 0s;
			}
			.credit span {
				opacity: 1;
				transition:
					opacity 0.05s linear 0.3s;
			}
		}
		&.next {
			.text {
				opacity: 0;
				transform: translate3d(150%, -50%, 0);
				transition:
					transform 0.6s $ease-in-out 0.15s,
					opacity 0.6s linear 0.3s;
			}
			.credit span {
				opacity: 0;
				transition:
					opacity 0.3s linear 0s;
			}
		}
	}
}

#slider #captions > figcaption:nth-of-type(3) {
	.title, p,
	.credit {
		color: $color-primary-black;
	}
}

#slider #gallery {
	height: 100%;
	position: relative;
	> figure {
		margin: 0;
		background: black;
		position: relative;
		box-sizing: border-box;
		height: inherit;
		overflow: hidden;
		-webkit-backface-visibility: hidden;
		will-change: transition;
		&.prev,
		&.current,
		&.next {
			position: absolute;
			top: 0;	right: 0; bottom: 0; left: 0;
			transition: all 0.6s $ease-in-out;
			transform: translate3d(0, 0, 0);
			transform-origin: 0% 100%;
		}
		&.prev {
			transform: translate3d(-100%, 0, 0);
			transition-delay: 0.6s;
			.image {
				opacity: 0;
				transition-delay: 0.6s;
			}
		}
		&.current {
			transition-delay: 0;
			transform: translate3d(0, 0, 0);
			z-index: 1;
			.image {
				opacity: 0.9;
				transition-delay: 0s;
			}
		}
		&.next {
			transform: translate3d(100%, 0, 0);
			.image {
				opacity: 0;
				transition-delay: 0.6s;
			}
		}
		.image {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: black 50% 50%/cover no-repeat;
			transform: translate3d(0, 0, 0);
		}
	}
}

#slider #svgs {
	position: absolute;
	width: 0;
	height: 0;
}

.info {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	border-top: 1px solid $color-primary-black;
	background: $color-secondary-black;
	color: $color-light-gray;
	padding: 1em;
	a {
		position: relative;
		color: $color-primary-green;
		text-decoration: none;
		&:before {
			content: '';
			position: absolute;
			bottom: 0; left: 0; right: 0;
			height: 1px;
			background: $color-primary-green;
			transform-origin: 50% 0;
			transform: scale(0, 1);
			transition: 0.15s $ease-in-out;
		}
		&:hover:before { transform: scale(1, 1); }
	}
}