//- File Path
// ---------------------------------
$fp 					: '/assets/images/';

$color-white 			: #fff;
$color-primary-white	: #F2F2F2;
$color-black 			: #000;
$color-primary-black	: #181A1B;
$color-secondary-black	: #242626;
$color-light-gray		: #7D8080;
$color-dark-gray		: #4F5254;

//- COLOR - TEAL
// ---------------------------------
$color-teal-1			: #D4F5F2;
$color-teal-2			: #40CfC7;
$color-teal-3			: #34807A;
$color-teal-4			: #1F3833;

//- COLORS - GREEN
// ---------------------------------
$color-primary-green	: #05CC47;
$color-green-1			: #D4F5DE;
$color-green-2			: #4DC47D;
$color-green-3			: #42794F;
$color-green-4			: #1F3626;

//- COLOR - UI
// ---------------------------------
$color-primary-orange	: #F7590A;